#gameContainer{
	background-color: #333;
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
	font-family: sans-serif;
}




#UI_top{
	display: flex;
	height: 10vh;
	background-color: green;
}
#health_UI_H, #score_UI_H{
	display: flex;
	width: calc(50% - 20px);
	margin: auto;
	height: 80%;
	border:1px solid #eee000;
}
#health_UI_H img, #score_UI_H img ,
#health_UI_H p, #score_UI_H p {
	background-color: white;
	width: calc(50% - 20px);
	margin: auto;
}




#Scroll_H{
	height: 27vh;
	background-color: blue;
	text-align: center;
	width: 100%;
	display: flex;
  	flex-direction: column;
}

#Scroll_top, #Scroll_bottom{
	width: 100%;
	margin: auto;
	height: calc(25% - 2px);
	border:1px solid #eee000;
	font-size: 4vw;
}

#Scroll_content{
	width: 100%;
	margin: auto;
	height: calc(50% - 2px);
	border:1px solid green;
	font-size: 6vw;
}




#mainContent_H{
	display: flex;
	height: 27vh;
	background-color: green;
	text-align: center;
}

#hero_H, #enemy_H{
	display: flex;
	width: calc(50% - 20px);
	margin: auto;
	height: calc(100% - 20px);
	border:1px solid #eee000;
}

#hero, #enemy {
	background-color: white;
	margin: auto;
}




#keypad_H{
	display: flex;
	flex-direction: column;
	height: 25vh;
	/*background-color: blue;*/
}

#keypad_H div{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	/*background-color: #333;*/
	height: 33%;
	margin:auto;
}
#keypad_H div button{
	border: 0px;
	opacity: .9;
	width: 10%;
	height: 90%;
	margin: auto;
	font-size: 5vmin;
	font-family: 'Archivo Black', sans-serif;
}
#keypad_H div button:not(#key-picked) {
	background-color: #ccc;
}
#keypad_H div button:active:not(#key-picked) {
	color:#fff;
}

#key-picked{
	background-color: red;
	color:#333;
}
#key-picked:active{
	color:#950018;
}


#gameBG{
	display: none;
	background-color: blue;
	width: 90px;
	height: 50%;
	margin: 0 auto;
	font-family: sans-serif;
    font-size: 10vw;
}