body{
	background-color: #6fc15c;
}

#gameContainer{
	background-image: url("../images/concrete_seamless.png");
	font-family: sans-serif;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	width: 100vw;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#gameBG{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
    background-image: url("../images/bg.jpg");
	background-size:     auto 100% ;
    background-repeat:   repeat-x;
    background-position: 0% center;
    transition: background-position 1s ease-out;
}

/*/////////////////////////////////////////////*/
/*HOW TO POPUP*/
/*/////////////////////////////////////////////*/

.howTo_hide{
	display: none;
}

.howTo_show{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

#howTo button{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  font-size: 4vmin;
  border-radius: 20%;
  box-shadow: 0px 5px 20px #000;
  border: 1vmin solid #333;
  cursor:pointer;
}

#howTo button strong{
	font-family: 'Archivo Black', sans-serif;
}

#howTo button:after{
	font-family: 'Archivo Black', sans-serif;
	margin-top: 4px;
	content: "OK?";
	background-color: #333;
	border-radius: 20px;
	color: #fff;
	display: inline-block;
	border: 2px solid #333;
	padding: 0 5px;
}

#howTo button:hover:after{
	background: #ccc;
	border: 2px solid #333;
	color: #333;
}

#howTo button:active{
	background: #333;
	color: #fff;
}


/*/////////////////////////////////////////////*/
/*MISC ANIMATIONS*/
/*/////////////////////////////////////////////*/

.shake {
  -webkit-animation: shake_anim 0.5s;
  animation: shake_anim 0.5s;
}

@keyframes shake_anim {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

.spin {
  -webkit-animation: spin_anim 1s normal forwards;
  animation: spin_anim 1s normal forwards;
}

@keyframes spin_anim {
  100% {
    opacity: 0;
    transform: rotate(1000deg);
  }
}







/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*FURTHER PARTS OF THE SITE BROKEN DOWN INTO 4 SECTIONS*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/







/*/////////////////////////////////////////////*/
/*SECTION ONE, 

THE HEALTH (HEARTS) & SCORE (STARS)*/
/*/////////////////////////////////////////////*/

#UI_top{
	display: flex;
	font-family: 'Archivo Black', sans-serif;
	height: 10vh;
	letter-spacing: 4px;
	cursor: default;
}

#health_UI_H, #score_UI_H{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	border:1px solid #000;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	display: flex;
	height: 60%;
	margin: auto;
	width: calc(50% - 20px);
}

#health_UI_H p, #score_UI_H p {
	font-size: 5vmin;
	margin: auto;
	width: calc(50% - 20px);
    color: #fff;
    text-shadow: -2px 2px 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000;
}

#health_UI_H div, #score_UI_H div{
	background-size: contain;
	height: 80%;
	margin: auto;
	width: calc(50% - 20px);
    background-position: center right;
    background-repeat: no-repeat;
}

#health_UI_H div{ background-image: url("../images/iconHeart.png"); }

#score_UI_H div{ background-image: url("../images/iconStar.png");}


.upArrow:after{
	content:  "\2191";
	opacity: 0;
  	animation: fadeArrow_anim 3s normal forwards;
  	-webkit-animation: fadeArrow_anim 3s normal forwards;
}

.downArrow:after{
	content:  "\2193";
	opacity: 0;
  	animation: fadeArrow_anim 3s normal forwards;
  	-webkit-animation: fadeArrow_anim 3s normal forwards;
}

@keyframes fadeArrow_anim {
  0% {
  	opacity: 1;
    text-shadow: 0 0 0 #000;
	color: #000;
  }
  100% {
    opacity: 0;
  }
}










/*/////////////////////////////////////////////*/
/*SECTION TWO, 

THE SCROLL ( THE MAIN DISPLAY for hidden words, alerts, and type hints) */
/*/////////////////////////////////////////////*/


#Scroll_H{
	display: flex;
	height: 27vh;
	text-align: center;
	width: 100%;
  	flex-direction: column;
  	cursor: default;
}

#Scroll_top, #Scroll_bottom{
	width: 100%;
	margin: auto;
	height: calc(25% - 2px);
	font-size: 4vw;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
	flex-direction: row;
	z-index: 10;
}
#Scroll_top div p{
	margin-top: 5vmin;
	font-size:  4vmin;
	color: #746b56;
    text-shadow: -2px 2px 2px #c5beae, 2px 2px 2px #c5beae,
    -2px -2px 2px #c5beae, 2px -2px 2px #c5beae;
}

#Scroll_top div:nth-child(1){
	width: 10%;
	height: 100%;
	margin:auto 0;
	margin-left: 5%;
	background-image: url("../images/scroll_b_TL.png");
	background-size:     contain;
    background-repeat:   no-repeat;
    background-position: right bottom;
}
#Scroll_top div:nth-child(2){
	margin:auto 0;
	width: 70%;
	height: 100%;
	background-image: url("../images/scroll_b_TC.png");
	background-size: contain;
    background-repeat:   repeat-x;
    background-position: center bottom;
}
#Scroll_top div:nth-child(3){
	width: 10%;
	height: 100%;
	margin:auto 0;
	margin-right: 5%;
	background-image: url("../images/scroll_b_TR.png");
	background-size:     contain;
    background-repeat:   no-repeat;
    background-position: left bottom;
}



#Scroll_bottom div:nth-child(1){
	width: 10%;
	height: 100%;
	margin:auto 0;
	margin-left: 5%;
	background-image: url("../images/scroll_b_BL.png");
	background-size:     contain;
    background-repeat:   no-repeat;
    background-position: right top;
}
#Scroll_bottom div:nth-child(2){
	margin:auto 0;
	width: 70%;
	height: 100%;
	background-image: url("../images/scroll_b_BC.png");
	background-size: contain;
    background-repeat:   repeat-x;
    background-position: center top;
}
#Scroll_bottom div:nth-child(3){
	width: 10%;
	height: 100%;
	margin:auto 0;
	margin-right: 5%;
	background-image: url("../images/scroll_b_BR.png");
	background-size:     contain;
    background-repeat:   no-repeat;
    background-position: left top;
}

#Scroll_bottom div p{
	margin-top: -1vmin;
	font-size:  3vmin;
	color: #746b56;
    text-shadow: -2px 2px 2px #c5beae, 2px 2px 2px #c5beae,
    -2px -2px 2px #c5beae, 2px -2px 2px #c5beae;
}





#Scroll_content{
	height: 50%;
    display: flex;
	flex-direction: row;
	z-index: 9;
}


#Scroll_content div:nth-child(1){
	width: 9%;
	height: 100%;
	margin:auto 0;
	margin-left: 5%;
}
#Scroll_content div:nth-child(2){
	margin:auto 0;
	margin-top: -1px;
	width: 72%;
	height: 102%;
	background-image: url("../images/scroll_inner.png");
	background-size: 100% 100%;
    background-repeat:   repeat-x;
    display: table;
}
#Scroll_content div:nth-child(3){
	width: 9%;
	height: 100%;
	margin:auto 0;
	margin-right: 5%;
}

#Scroll_content div p{
	margin:auto 0;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 6vmin;
    color: #746b56;
    text-shadow: -2px 2px 2px #c5beae, 2px 2px 2px #c5beae,
    -2px -2px 2px #c5beae, 2px -2px 2px #c5beae;
}

@media screen and (max-width : 640px) {
	#Scroll_top div:nth-child(n-1),
	#Scroll_bottom div:nth-child(n-1){
		background-size: 100% 100%;
	}
}










/*/////////////////////////////////////////////*/
/*SECTION THREE, 

THE BATTLE FIELD! (the player and the enemy,etc)*/
/*/////////////////////////////////////////////*/


#mainContent_H{
	display: flex;
	height: 27vh;
	text-align: center;
}

#hero_H, #enemy_H{
	display: table;
	width: calc(50% - 20px);
	margin: auto;
	height: calc(100% - 20px);
}

#hero{
	width: 100%;
	background-image: url("../images/wiz.gif");
	background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
	display: table-cell;
	-webkit-filter: drop-shadow(0px 20px 15px rgba(0,0,0,0.5));
}

#wizardAttack{
	border-radius: 50%;
	margin:auto;
	box-shadow: inset 0 0 20px #000;
}

.W_attack {
  -webkit-animation: w_attack_anim 3.5s;
  animation: w_attack_anim 3.5s;
  z-index: 1000 !important;
}

@keyframes w_attack_anim {
  10%{
  	width: 0vw;
	height: 0vw;
    transform: translate3d(0, 0, 0);
    background-color: blue;
  }

  15%{
  	width: 10vw;
	height: 10vw;
    transform: translate3d(0, 0, 0);
  }

  20%{
  	width: 10vw;
	height: 10vw;
  	background-color: red;
  }
  
  30% {
  	width: 0vw;
	height: 0vw;
    transform: translate3d(200vw, 0, 0);
  }
}






#enemy_H{
	display: flex;
  	flex-direction: column;
  	transition: all 2s ease-out;
  	/*animated to zero!!*/
  	margin-right: 0;
  	opacity: 1;
}

.hideEnemy{
	opacity: 0;
	margin-right: -75% !important;
}

#enemy{
	width: 100%;
	height: 100%;
	background-image: url("../images/ghosts/2.png");
	background-size:  contain;
    background-repeat:   no-repeat;
    background-position: center; /*right center; to animate!...maybe@@*/
	display: table-cell;
	-webkit-filter: drop-shadow(0px 12px 15px rgba(0,0,0,0.5));

}

#enemyHearts{
	width: 50%;
	margin: auto;
	height: 5vh;
	display: flex;
	flex-direction: row;
	padding:2px;
	border: 2px solid rgba(50,50,50, 0.2);
	border-radius: 10px;
	background-color: rgba(50,50,50, 0.2);
}
#enemyHearts div{
	height: 90%;
	width: 100%;
	margin: auto;
	background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center;
	background-image: url("../images/iconHeart.png");
}


#enemyAttack{
	border-radius: 50%;
	margin:auto;
	box-shadow: inset 0 0 20px #000;
}

.E_attack {
  -webkit-animation: e_attack_anim 3.5s;
  animation: e_attack_anim 3.5s;
  z-index: 1000 !important;
}

@keyframes e_attack_anim {
  10%{
  	width: 0vw;
	height: 0vw;
    transform: translate3d(0, 0, 0);
    background-color: blue;
  }

  15%{
  	width: 20vw;
	height: 20vw;
    transform: translate3d(0, 0, 0);
  }

  25%{
  	width: 10vw;
	height: 10vw;
  	background-color: red;
  }
  
  30% {
  	width: 0vw;
	height: 0vw;
    transform: translate3d(-200vw, 0, 0);
  }
}







/*/////////////////////////////////////////////*/
/*SECTION FOUR, 

THE LETTER DISPLAY*/
/*/////////////////////////////////////////////*/

#keypad_H{
	display: flex;
	flex-direction: column;
	height: 29vh;
	margin-top: 5vh;
	overflow: hidden;
}

#keypad_H div{
	width: calc(100% - 20px);
	display: flex;
	flex-direction: row;
	height: 33%;
	margin:auto;
	margin-top: 1vh
}

#keypad_H div button{
	border: 0px;
	opacity: .9;
	width: 10%;
	height: 100%;
	margin: auto;
	font-size: 5vmin;
	font-family: 'Archivo Black', sans-serif;
	border: 6px outset;
	border-color:rgba(163, 85, 85, 0); /*this is set to the "picked" color to work!*/
	transition: background .1s ease-in-out;
	border-radius: 5px;
	cursor:pointer;
}
#keypad_H div button:not(#key-picked_FAIL):not(#key-picked_PASS) {
	background-color:  rgba(134, 202, 115, 0.5);
	border-color: rgba(95, 163, 85, 0.5);
	color: rgba(0, 0, 0, 0.9);
	text-shadow: -2px 2px 2px rgba(255,255,255,0.8), 2px 2px 2px rgba(134, 202, 115, 1),
    -2px -2px 2px rgba(134, 202, 115, 1), 2px -2px 2px rgba(134, 202, 115, 1);
}
#keypad_H div button:active:not(#key-picked_FAIL):not(#key-picked_PASS) {
	color: #fff;
	text-shadow: -1px 1px 2px #000, 1px 1px 2px #000;
}

#key-picked_FAIL{
	background-color: rgba(202, 85, 85, 0.7);
	color: #000;
	text-shadow: -2px 2px 2px rgba(255,0,0,0.5), 2px 2px 2px rgba(255,0,0,0.5),
    -2px -2px 2px rgba(255,0,0,0.5), 2px -2px 2px rgba(255,0,0,0.5);
}
#key-picked_FAIL:active{
	color:red;
    text-shadow: -2px 2px 2px #000, 2px 2px 2px #000,
    -2px -2px 2px #000, 2px -2px 2px #000;
}

#key-picked_PASS{
	background-color: white;
	color: green;
}


/*//FREE LETTER BUTTON*/
#r3 button:nth-child(9):before{
	margin-left:-1vw;
	content: "FREE";
	font-size: 2vmin;
	line-height: 0px;
	position: fixed;
}












#startButton_H{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	height: 32vh;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.2+25,0.65+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

#startButton_H button{
	margin-top: 2vh;
	height: 80%;
	border-radius: 25%;
	border:1vh solid rgba(0,0,0,0.5);
	background-color: green;
	color: white;
	font-family: 'Archivo Black', sans-serif;
	padding: 0 4vh;
	letter-spacing: 1vmin;
	cursor: pointer;
	text-shadow: -2px 2px 10px #000, 2px 2px 10px #000,
   		-2px -2px 10px #000, 2px -2px 10px #000;
    box-shadow: 0 10px 20px #000, 0 -5px 50px rgba(0,0,0,0.9),
    	inset 0 5px 50px #000, inset 0 -5px 50px #000;
    transition: all .2s ease-out;
}

.start:before{
	content: "START";
	font-size: 12vmin;
}
.restart:before{
	content: "RESTART?";
	font-size: 12vmin;
}

#startButton_H button:hover{
	color:rgba(255,255,255,0.8);
}

#startButton_H button:active{
	font-size: 13vmin;
	text-shadow: -2px 2px 10px #fff, 2px 2px 10px #fff,
   		-2px -2px 10px #fff, 2px -2px 10px #fff;
}
.startB_H_hide{
	display: none;
	position: absolute;
   	top: -9999px;
    left: -9999px;
}
.startB_H_fade{
	transition: opacity .3s ease-out;
	opacity: 0;
}

.startB_fade{
	cursor: default !important;
	transition: opacity 2s ease-out;
	opacity: 0;
}

